<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2010-2012 Andrei Pozolotin <Andrei.Pozolotin@gmail.com>

    All rights reserved. Licensed under the OSI BSD License.

    http://www.opensource.org/licenses/bsd-license.php

-->
<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
  </appender>

  <logger name="org.sonatype.nexus.plugins.capabilities" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
